



.project-content{
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2% !important;
    background-color:#fbfbfb;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @media screen and (max-width: 1200px) {
        width: 95%;
      }
    @media screen and (max-width: 645px) {
        margin-top: 15% !important;
        width: 98%;
    }

    .project-image-container{
        @media screen and (max-width: 645px) {
            width: 90%;
            padding-left: 10%;
            padding-top: 5%;
            padding-bottom: 3%;
        }
        .project-image{
            width: 200px;
            height: auto;
            padding:10% ;
            @media screen and (max-width: 645px) {
                width: 100%;
                padding:6% ;
                padding-bottom: 0;
            }
        }
        
    } 
    .project-title{
        width: 80%;
        font-family: 'Quicksand',sans-serif;
        @media screen and (max-width: 645px) {
            padding-left: 5%;
        }
    }
    .Project-description{
        text-align: justify;
        width: 95%;
        font-family: 'Quicksand',sans-serif;
        @media screen and (max-width: 645px) {
            padding-left: 5%;
        }
    }
    .project-language{
        display:inline-block;
        margin-right:3%;
        color:#0008ff;
        margin-top: 0;
        margin-bottom: 2%;
        font-weight: bold;
        
        @media screen and (max-width: 645px) {
            padding-left: 5%;
        }
    }
    .project-year{
        font-size: 18px;
        font-family: 'Quicksand',sans-serif;
    }
}